* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: -webkit-linear-gradient( left top, red, orange, yellow);
    color: white;
    padding: 10px;
}

.container {
    padding: 10px;
}

.book-container {
    padding: 15px;
    width: 25%;
    background: -webkit-linear-gradient( left top, red, orange, yellow);
    color: white;
    margin: 30px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.book-container button {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 20px;
}

.book-container button:hover {
    background-color: red;
    color: white;
}

.add-button {
    background: -webkit-linear-gradient( left top, red, orange, yellow);
    color: white;
    border-radius: 20px;
    font-size: 40px;
    padding: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
}

.popup-overlay {
    background-color: black;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
}

.popup-box {
    background: -webkit-linear-gradient( left top, red, orange, yellow);
    padding: 40px;
    width: 40%;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none
}

.popup-box input {
    width: 100%;
    border: none;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid 2px black;
}

.popup-box textarea {
    width: 100%;
    border: none;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid 2px black;
}

.popup-box button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#add-book:hover {
    background-color: rgb(9, 153, 9);
    color: black;
}

#cancel-popup:hover {
    background-color: red;
    color: white;
}

.popup-box textarea :placeholder {
    color: black;
}

.popup-box input :placeholder {
    color: black;
}

.popup-box textarea :placeholder {
    color: black;
}

.popup-box input :placeholder {
    color: black;
}

.popup-box textarea :placeholder {
    color: black;
}

.popup-box input :placeholder {
    color: black;
}

